/* This is the stylesheet for Project 2 - Javascript Matching Game */

/* Global */
* {
  box-sizing: border-box;
}

/* Header */
h1, p {
  text-align: center;
}

/* Instructions */

/* Main Game Window */

#gameBox {
  border: red solid 20px;
  height: 500px;
  width: 500px;
  margin: auto;
  box-sizing: content-box;
  padding: 10px;
}

#gameBox div{
  border: blue solid 10px;
  float:left;
  display: inline-block;
  width: 105px;
  height: 105px;
  text-align: center;
  font-size: 75px;
  margin: 10px;
}


